divï¼Œbody,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select{padding: 0;margin: 0;font-family: arial;}
li{list-style: none;}
img{border: none;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}


#title_top{height: 29px;width: 100%;background: #f1f1f1;}
